/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 350 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/



/*
.just_an_example {
	color: black;
}
*/



/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 350px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

/* BS Customization */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

h1 {
	margin: 16px;
}

.hidden {
	display: none;
}

#group-description .group-name, .author.archive .archive-header .archive-title a:hover, .entry-buddypress-content #group-create-body h4, .bb-add-label-button, .boss-modal-form a, .bb-message-tools > a, .learndash-pager a:hover, .bb-message-tools a.bbm-label-button, .widget_buddyboss_recent_post h3 a:hover, .sap-container-wrapper .sap-author-name.sap-author-name, a:hover {
  color: #d04432 !important;
}

input {
	margin-bottom: 30px;
}

.entry-content {
	padding: 0 30px;
}

@media screen and (min-width: 481px) {
	body.left-menu-open #mastlogo #logo img {
		width: auto;
		-webkit-transform: translateY(40px);
		    -ms-transform: translateY(40px);
		        transform: translateY(40px);
	}

	#mastlogo {
		-webkit-box-shadow: none !important;
		        box-shadow: none !important;
	}

  body.left-menu-open #mastlogo,
  .left-menu-open .menu-panel,
  body.left-menu-open #left-panel-inner #scroll-area {
    width: 190px;
  }

  body.left-menu-open .header-outher,
  #right-panel-inner {
    margin-left: 190px;
  }
}

body.is-desktop.left-menu-open[data-logo="1"] #left-panel-inner {
	padding-top: 134px !important;
}

body.logged-out #masthead,
body.logged-out #mobile-header {
	position: relative;
}

body.logged-out #right-panel,
body.logged-out #inner-wrap {
	margin-top: 0 !important;
}

body.logged-out #menu-item-2445,
body.logged-out #menu-item-2502,
body.logged-in #menu-item-2636 {
	display: none;
}

#menu-buddypanel-pisa #menu-item-2658 a::before {
  content: "\f500" !important;
}

.header-inner,
.page-template-page-no-buddypanel #mastlogo {
	background-color: #042c41 !important;
}

.header-navigation > div > ul {
	text-align: left;
	text-transform: uppercase;
}

.home-page header.entry-header {
	display: none;
}

.header-inner .left-col a {
  color: #fff;
}

/* Home slider */
.metaslider .slides,
.metaslider .slides > li,
.metaslider .slides > li > img  {
	height: 500px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}

.caption-wrap {
	top: 50% !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: auto !important;
  padding: 60px 136px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 28px;
	font-weight: bold;
}

.caption-wrap .caption {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
}

.caption-wrap .caption img {
	width: 160px !important;
}

.caption-wrap .caption .slide-heading {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	max-width: 680px;
	text-align: center;
}

.flex-direction-nav {
	display: block;
}

.flex-direction-nav a {
	display: block;
}

.vc_btn3.vc_btn3-size-lg {
  font-size: 16px;
  padding: 10px 25px;
  font-weight: bold;
  font-family: Rubik;
  background-image: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 50%,rgba(0,0,0,0));
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0)),color-stop(50%, rgba(0,0,0,0)),to(rgba(0,0,0,0)));
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 50%,rgba(0,0,0,0));
  border-radius: 14px;
	-webkit-transition: background-image .2s ease-in-out;
	-o-transition: background-image .2s ease-in-out;
	transition: background-image .2s ease-in-out;
}

.vc_btn3.vc_btn3-size-lg:hover {
	background-image: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0)),color-stop(50%, rgba(0,0,0,.1)),to(rgba(0,0,0,.1)));
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
}

body .entry-content #launch>.vc_col-sm-12,
body .entry-content #features {
	max-width: 990px;
  margin: 30px auto;
  font-family: Rubik;
  float: none;
  padding: 0 30px;
}

body .entry-content #launch>.vc_col-sm-12 {
	margin-top: 0
}

body .entry-content #features p {
	padding: 0 34px;
}

.footer-inner-top,
.footer-inner-bottom {
	border: none;
}

.footer-inner {
	max-width: 990px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.footer-inner-top .footer-inner.widget-area {
	padding: 50px 0 20px;
}

.footer-inner-top .footer-inner .footer-widget {
	padding-right: 0;
}

.footer-inner-top .footer-inner .footer-widget:nth-child(3),
.footer-inner-top .footer-inner .footer-widget:nth-child(4) {
	text-align: right;
}

.footer-credits {
	line-height: 1.5;
}

.footer-credits a {
	text-decoration: underline;
}

@media screen and (max-width: 822px) {
	.caption-wrap .caption .slide-heading {
		font-size: 24px;
	}

	.footer-inner {
		text-align: center;
	}

	.footer-inner .footer-widgets .widget {
		border-bottom: none !important;
	}
}

#gtranslate_selector {
	background: rgba(255,255,255,.1);
  color: #fff;
  line-height: 1;
  font-weight: 600;
  font-size: 16px;
  border: none;
  text-transform: unset;
  font-family: Rubik;
}

#gtranslate_selector option {
  color: #333;
}

body.role-administrator .bp-courses-nav,
body.role-instructor .bp-courses-nav,
body.role-student .bp-courses-nav {
	display: list-item;
}

#post-1781 .main-forum-sidebar {
  display: none;
}

#bbp-forum-1781 .bbp-forums-list li {
	display: block;
	font-size: 14px;
}

#bbp-forum-1781 .bbp-forums-list li img {
	display: inline-block;
	width: 22px;
	height: 14px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.bbp-forum-details .table-cell {
	vertical-align: bottom;
}

.bbp-forum-details .button {
	font-weight: 800;
  font-size: 12px;
  padding: 7px 20px 6px;
  border-radius: 4px;
  display: inline-block;
  text-transform: uppercase;
	width: auto;
	margin: 0 4px 4px 0;
}

.bbp-forum-details .buddyboss-select {
	margin-bottom: 4px;
}

.bbp-forum-details .buddyboss-select-inner {
	height: 30px;
}

.bbp-forum-details .buddyboss-select-inner span {
	height: 26px;
	line-height: 28px;
}

.bbp-forum-details .buddyboss-select-inner select {
	height: 28px;
}

.bbp-forum-details .buddyboss-select-inner:after {
	top: 5px;
}

#bbpress-forums .topic .bbp-reply-content {
	font-size: 1.2em;
}

.is-forum .hide-if-forum {
	display: none;
}

.footer-inner-top .footer-inner.widget-area {
	padding: 10px;
}

.footer-widget aside {
	margin-bottom: 0;
}

.footer-widget img {
	height: 60px !important;
	width: auto;
}


.footer-inner-bottom {
  padding: 10px 36px 10px 70px;
}

@media screen and (min-width: 960px) {
	.footer-inner .footer-widget:last-child {
		float: right;
	}
}

/* Forums custom theme */
#post-1657 .entry-header {
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

body:not(.boxed) #bbpress-forums .subheader {
	background-color: #fff;
	padding: 8px 70px;
}

#post-1657 .bbp-header .bbp-forum-freshness {
	padding-left: 56px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

@media screen and (min-width: 960px) {

  #post-1657 {
    padding-left: 30px;
    padding-right: 30px;
  }

  #post-1657 .entry-content {
    padding: 0;
  }

	#post-1657 li.bbp-body {
		margin: 0;
		padding: 0 70px 0 0;
	}

	#post-1657 li.bbp-body .forums-wrapper {
		width: 74%;
		float: left;
	}

	#post-1657 li.bbp-body ul.forum {
		margin: 0 !important;
	}

	#post-1657 li.bbp-body .main-forum-sidebar {
		float: left;
		width: 26%;
	}

}

#post-1657 .forum-titles .bbp-forum-info {
  width: calc( ( 100% - 26% - 30px ) / 100 * 62 );
}

#post-1657 .forum-titles .bbp-forum-topic-count,
#post-1657 .forum-titles .bbp-forum-reply-count {
  width: calc( ( 100% - 26% - 30px ) / 100 * 18.92 );
}

#post-1657 .bbp-forum-info,
#post-1657 .bbp-forum-topic-count,
#post-1657 .bbp-forum-reply-count {
  -webkit-box-shadow: 1px 0 0 0 #fff;
          box-shadow: 1px 0 0 0 #fff;
}

#post-1657 li.bbp-body .forums-wrapper .bbp-forum-info {
	width: 62.16%;
}

#post-1657 li.bbp-body .forums-wrapper .bbp-forum-topic-count,
#post-1657 li.bbp-body .forums-wrapper .bbp-forum-reply-count {
	width: 18.92%;
}

#post-1657 li.bbp-body ul.forum div.bbp-forum-info-content {
	padding-right: 0;
}

#post-1657 .bbp-forum-title {
	display: block;
	padding: 8px 10px 8px 38px;
	color: #042C41;
	position: relative;
}
#post-1657 .bbp-forum-title::before {
	position: absolute;
	left: 0;
	display: inline-block;
  padding: 5px 10px;
  margin: -8px;
	background: #fff;
	height: 100%;
}

#post-1657 .bbp-forum-content {
	padding-left: 31px;
}

#post-1657 .bbp-forums-list {
	padding-left: 26px;
	border-left: none;
}

#bbp-forum-1771 .bbp-forum-title,
#bbp-forum-1771 .bbp-forum-topic-count,
#bbp-forum-1771 .bbp-forum-reply-count,
#post-1771 .entry-title {
	background: rgba( 208, 68, 50, .23);
}
#bbp-forum-1771 .bbp-forum-title::before {
	content: url('../images/red-hexagon.svg');
}

#bbp-forum-1982 .bbp-forum-title,
#bbp-forum-1982 .bbp-forum-topic-count,
#bbp-forum-1982 .bbp-forum-reply-count,
#post-1982 .entry-title {
	background: rgba( 229, 185, 33, .23);
}
#bbp-forum-1982 .bbp-forum-title::before {
	content: url('../images/yellow-hexagon.svg');
}

#bbp-forum-1781 .bbp-forum-title,
#bbp-forum-1781 .bbp-forum-topic-count,
#bbp-forum-1781 .bbp-forum-reply-count,
#post-1781 .entry-title {
	background: rgba( 0, 118, 160, .23);
}
#bbp-forum-1781 .bbp-forum-title::before {
	content: url('../images/blue-hexagon.svg');
}

#bbp-forum-1814 .bbp-forum-title,
#bbp-forum-1814 .bbp-forum-topic-count,
#bbp-forum-1814 .bbp-forum-reply-count,
#post-1814 .entry-title {
	background: rgba( 198, 218, 50, .23);
}
#bbp-forum-1814 .bbp-forum-title::before {
	content: url('../images/green-hexagon.svg');
}

#bbp-forum-1997 .bbp-forum-title,
#bbp-forum-1997 .bbp-forum-topic-count,
#bbp-forum-1997 .bbp-forum-reply-count,
#post-1997 .entry-title {
	background: rgba( 0, 174, 136, .23);
}
#bbp-forum-1997 .bbp-forum-title::before {
	content: url('../images/green2-hexagon.svg');
}

#post-1657 li.bbp-header {
	text-transform: none;
	padding-bottom: 8px;
}

@media screen and (min-width: 481px) {
  #bbpress-forums li.bbp-header {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

#post-1657 .bbp-body .bbp-forum-topic-count,
#post-1657 .bbp-body .bbp-forum-reply-count {
	padding: 6px 0 7px;
	color: #042C41;
}

.bbpress-recent-reply-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 25px !important;
	border-bottom: 1px solid rgba(0,0,0,.11);
	padding: 25px 0;
}

.recent-replies-avatar {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	min-width: 52px;
}
.recent-replies-avatar img {
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
	width: 52px;
	height: 52px;
	border-radius: 52px;
	margin-right: 25px;
}

.recent-replies-body {
	margin-right: 25px;
	-webkit-box-flex: 3;
	    -ms-flex: 3;
	        flex: 3;
}

.recent-replies-author {
	font-weight: bold;
  color: #D04432;
}
.recent-replies-title {
	font-weight: bold;
}

.recent-replies-forum {
  font-style: italic;
}

.recent-replies-time-diff {
	color: #0076A0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.type-forum .entry-title {
	padding: 14px 20px;
	display: none;
}

.bbp-forum-breadcrumb {
	padding: 0 70px 30px;
}

.type-forum .bbp-forum-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 70px;
}

.type-forum .forum-titles .bbp-topic-voice-count,
.type-forum .forum-titles .bbp-topic-reply-count,
.type-forum .forum-titles .bbp-topic-freshness {
	text-transform: none;
}

.type-forum .bbp-topic-permalink {
	color: #042C41;
}

.type-forum .bbp-topic-title-content::before,
.bbp-image-mark-poll,
#bbpress-forums .bbp-attachments-count {
	margin-right: 12px;
}

#wp-admin-bar-my-account-activity,
#wp-admin-bar-my-account-messages,
#wp-admin-bar-my-account-friends,
#wp-admin-bar-my-account-groups,
#wp-admin-bar-my-account-forums,
#wp-admin-bar-my-account-courses,
#wp-admin-bar-my-account-bp_docs,
#wp-admin-bar-my-account-photos {
	display: none;
}

.wpslacksync-container {
	max-width: 100% !important;
}

/* CASE STUDY FORM */
.acf-field-group > .acf-label label,
.acf-field-message > .acf-label label {
	display: none;
}

.acf-form ol,
.acf-form ul {
	list-style: disc;
	padding-left: 18px;
}

.acf-fields>.acf-field {
	border-top: none;
}

.form-btns-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.form-btns-wrapper .button,
.form-btns-wrapper button {
	margin: 12px;
}

.form-btns-wrapper .disabled,
.form-btns-wrapper [disabled],
.button.disabled {
	opacity: .5;
	pointer-events: none;
}

.form-btns-wrapper .save::after {
	content: "\f0c7";
	font-family: "Font Awesome 5 Free";
	font-size: 20px;
  margin-left: 8px;
}

.form-btns-wrapper .submit::after {
	content: "\f14a";
	font-family: "Font Awesome 5 Free";
	font-size: 20px;
  margin-left: 8px;
}

#case-form .acf-form-submit input {
	display: none;
}

#case-form {
	float: left;
	width: 74%;
	padding: 0 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

#case-form p {
	line-height: 1.6;
}

.case-study-form-widget-area {
	float: left;
  width: 20%;
  margin-top: 22px;
  padding: 15px 30px;
	position: relative;
	z-index: 10;
}

.case-study-form-widget-area ul {
	list-style: none !important;
}

.case-study-form-widget-area ul .step-wrapper {
	margin-left: 0;
}

.case-study-form-widget-area ul .step-wrapper .fas {
	display: block;
  text-align: center;
  font-size: 32px;
	margin: 5px 0;
}

.case-study-form-widget-area ul .step-wrapper a {
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2;
	padding: 12px 12px 11px;
}

.case-study-form-widget-area ul .step-wrapper a::after {
	content: "\f017";
	font-family: "Font Awesome 5 Free";
	font-size: 17px;
	line-height: 23px;
	width: 24px;
	height: 24px;
	float: right;
}

.case-study-form-widget-area ul .step-wrapper:last-child a {
	pointer-events: none;
}

.case-study-form-widget-area ul .step-wrapper:last-child a::after {
	content: "\f11e";
}

.case-study-form-widget-area ul .step-wrapper a.active {
	-webkit-box-shadow: inset 0 0 1000px rgba(0,0,0,.30);
	box-shadow: inset 0 0 1000px rgba(0,0,0,.30);
	pointer-events: none;
}

.case-study-form-widget-area ul .step-wrapper a.active::after {
	content: "\f141";
}

.case-study-form-widget-area ul .step-wrapper a.validated::after {
	content: "\f00c";
	color: #C6DA50;
}

.case-study-form-widget-area ul .step-wrapper a.haserror::after {
	content: "\f00d";
	color: #D04432;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 15px !important;
}
.select2-container--default .select2-selection--single {
	padding: 6px 13px !important;
}
[data-taxonomy="description-tag"] .acf-checkbox-list {
	-webkit-columns: 3;
	   -moz-columns: 3;
	        columns: 3;
}

/* Case studies Archive */
.case-study-archive-content {
	padding: 30px 70px;
}

.case-study-archive-content {
	float: left;
	width: 76%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.side-filters {
	float: left;
	width: 20%;
	margin: 30px 16px 16px;
}

.side-filters .button {
  background-color: #d04432;
  text-transform: uppercase;
  font-weight: bold;
}
.side-filters .button:hover {
  background-color: #64aac3;
  color: #fff !important;
}

.filter-bar-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  padding: 8px 16px
}

.case-study-card {
	margin: 56px 0;
}

.case-study-card header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 16px;
}

.case-study-card header .post-country {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.case-study-card header .post-country img {
	width: 48px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
	margin-left: 8px;
}

.case-study-card header .post-country  a {
  display: block;
  text-align: right;
}

.case-study-card .case-card-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.case-study-card .case-card-left-column {
	-ms-flex-preferred-size: 20%;
	    flex-basis: 20%;
}

.case-study-card .case-card-left-column .author {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 16px;
}

.case-study-card .case-card-left-column .author img {
	margin-right: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.case-study-card .case-card-left-column .author a {
	display: block;
}

.case-study-card .case-card-left-column .description-tags-wrapper a,
.single-case .side-column .description-tags a {
	display: inline-block;
	padding: 4px 8px;
	background: #f5f5f5;
	border-radius: 6px;
	margin: 4px;
	/* white-space: nowrap; */
}

.case-study-card .case-card-right-column {
	-ms-flex-preferred-size: 80%;
	    flex-basis: 80%;
	padding: 0 30px;
}

.case-study-card .case-card-right-column .case-excerpt {
	margin-bottom: 24px;
}

.jvectormap-tip {
	z-index: 99;
}

.form-notice {
	padding: 70px 30px;
}

.form-notice-success {
	padding: 70px 30px;
	float: left;
	width: 70%;
}

.form-related-page {
	width: 100%;
}

/* SINGLE CASE */
.site-content.single-case {
	padding: 70px 30px;
}

.single-case .main-column {
	float: left;
	width: 76%;
}
.single-case .side-column {
	float: left;
	width: 20%;
	margin: 0 16px;
}

.single-case .side-column > div {
	background: #f5f5f5;
	padding: 16px;

}

.single-case .main-column .featured-image {
	margin-bottom: 16px;
}

.single-case .main-column h2 button {
  all: inherit;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0.5em 0;
	background: #f5f5f5;
	margin-bottom: 16px;
	padding: 8px;
	font-size: 22px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.single-case .main-column h2 button:focus svg {
  outline: 2px solid;
}

.single-case .main-column button svg {
  height: 1em;
  margin-left: 0.5em;
}

.single-case .main-column [aria-expanded="true"] .vert {
  display: none;
}

.single-case .main-column [aria-expanded] rect {
  fill: currentColor;
}

.single-case .main-column .form-question {
	padding: 8px;
}

.single-case .main-column h3 {
	font-size: 20px;
}

.single-case .side-column .case-country {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.single-case .side-column .case-country img {
	margin-right: 8px;
}

.single-case .side-column .school-details p,
.single-case .content-container p,
.single-case .content-container h3 {
	margin-bottom: 1em;
}

.single-case .content-container p {
  text-indent: 10px;
}

.single-case .side-column .description-tags {
	background: transparent;
}

.single-case .side-column .description-tags h2 {
	font-size: 18px;
}

.single-case .side-column .case-author .author-badge {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.single-case .side-column .case-author .author-badge img {
	border-radius: 100%;
	margin-right: 8px;
}

.single-case .side-column .case-author .button {
	font-size: 12px;
	padding: 8px;
	width: auto;
	margin: 8px;
}

.single-case .side-column .case-author .button i {
	margin-left: 4px;
}

.anr_captcha_field_div > div {
	margin: 0 auto;
}

#tandc-checkbox,
#tandc-checkbox-container {
	border-bottom: none !important;
}

/* Log In Page */
.tml-action-login .type-page,
.tml-action-lostpassword .type-page,
.tml-action-resetpass .type-page {
	max-width: 860px;
	margin: auto;
}

#post-2425 .anr_captcha_field_div > div {
  margin: 0;
}

.bp-docs-container {
	background: #fff;
	padding: 30px;
}

.bp-docs-container .item-list-tabs li a {
	padding: 10px !important;
}

.bp-docs #buddypress {
	background: #fff;
	padding: 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.bp-docs #buddypress .item-list-tabs li a {
	padding: 10px !important;
}

.bb-cover-photo .holder {
	background-size: contain;
}

.infog-number {
	text-align: center !important;
  font-size: 46px;
  color: #C6DA50;
  margin-bottom: 0 !important;
  line-height: 1 !important;
  white-space: nowrap;
}

.infog-number-desc {
	text-align: center !important;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.infog-item-desc {
	text-align: center !important;
	font-size: 14px;
	color: #fff;
}

#learnmore-infographic-1 .vc_column-inner,
#learnmore-infographic-2 .vc_column-inner,
#how-to-join-title-wrapper .vc_column-inner {
	padding-top: 0;
}

.how-to-join-title {
	background: #C6DA50;
	/* max-width: 536px; */
	margin-left: auto !important;
	margin-right: auto !important;
	text-transform: uppercase;
	padding: 30px 0;
	line-height: 1.1;
	margin-top: 0 !important;
  -webkit-box-shadow: -500px 0 0 0 #C6DA50, 500px 0 0 0 #C6DA50;
          box-shadow: -500px 0 0 0 #C6DA50, 500px 0 0 0 #C6DA50;
}

.registration .field-visibility-settings-toggle,
.registration .field-visibility-settings-notoggle,
.registration #titlebar-search,
.registration a.register {
	display: none;
}

#field_10,
#field_14,
#field_15 {
  cursor: default;
  background-color: #cac5c4;
  pointer-events: none;
}

.required-note {
	color: #D04432;
}
.required-note-legend {
	margin-top: 1em !important;
	text-align: right;
}

#members-group_leader,
/* .item-list-tabs .hideshow, */
#members-student {
	display: none !important;
}

input.bpmts-feedback-form-submit-button {
  width: 100px;
}

.bs-reply-btn-wrapper,
.wpulike {
  display: inline-block;
}

.bbp-topic-tags a {
  background: #64aac3;
  color: #fff;
  padding: 4px 11px;
  border-radius: 50px;
  margin: 0 3px;
}
.bbp-topic-tags a:hover {

}
.you-can-infographic-title {
  -webkit-box-shadow: -400px 0 0 0 #64AAC3, 400px 0 0 0 #64AAC3;
          box-shadow: -400px 0 0 0 #64AAC3, 400px 0 0 0 #64AAC3;
}

.my-account #secondary {
  display: none;
}

@media screen and (min-width: 481px) {
  .site-content {
    width: 100%;
  }
}

.form-intro-message p {
  margin-bottom: 1rem;
}

.form-intro-message h2,
.form-intro-message h3 {
  margin-top: 1.5rem;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
  color: #042c41;
}

.bbp-topic-revision-log,
.bbp-reply-revision-log {
  display: none;
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #whats-new-form select, .editfield select:not([multiple]), #notifications-bulk-management select, #messages-bulk-management select, .field-visibility select, .register-section select, .bbp-form select, #bp-group-course, #bbp_group_forum_id,
  #buddypress table.notifications input, #send_message_form input[type='checkbox'], #profile-edit-form input[type='checkbox'], #profile-edit-form input[type='radio'], #message-threads input, #settings-form input[type='radio'], #create-group-form input[type='radio'], #create-group-form input[type='checkbox'],
  #group-settings-form input[type='radio'], #group-settings-form input[type='checkbox'], #new-post input[type='checkbox'], .bbp-form input[type='checkbox'],
  .bbp-form [type='radio'].input, .register-section [type='radio'].input, .register-section input[type='checkbox'], .message-check, #select-all-messages {
    opacity: 1 !important;
  }
}

/* Sitewide notice */
#sitewide-notice {
  background-color: rgba(0,0,0,.02);
  color: rgba(0,0,0,.8);
  padding: 20px;
}

#buddypress div#message p, div#sitewide-notice div#message p {
  padding: 6px 100px 6px 20px;
  border-bottom: none;
}

#close-notice {
  float: right;
  margin-right: 68px;
}

.pisa-library-intro {
  margin-bottom: 3rem;
  max-width: 680px;
}

 .padding40 {
   padding: 40px;
 }
