/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 350 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/



/*
.just_an_example {
	color: black;
}
*/



/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 350px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

/* BS Customization */

@media screen and (min-width: 481px) {
	body.left-menu-open #mastlogo #logo img {
		width: auto;
		transform: translateY(40px);
	}

	#mastlogo {
		box-shadow: none !important;
	}
}

body.is-desktop.left-menu-open[data-logo="1"] #left-panel-inner {
	padding-top: 134px !important;
}

body.logged-out.home-page #masthead,
body.logged-out.home-page #mobile-header {
	display: none;
}

body.logged-out #masthead,
body.logged-out #mobile-header {
	position: relative;
}

body.logged-out #right-panel,
body.logged-out #inner-wrap {
	margin-top: 0 !important;
}

.header-inner,
.page-template-page-no-buddypanel #mastlogo {
	background-color: #042c41 !important;
}

.header-navigation > div > ul {
	text-align: left;
	text-transform: uppercase;
}

.home-page header.entry-header {
	display: none;
}

/* Home slider */
.metaslider .slides,
.metaslider .slides > li,
.metaslider .slides > li > img  {
	height: 350px;
	object-fit: cover;
	object-position: center;
}

.caption-wrap,
.caption-wrap .caption {
	height: 100%;
}

.caption-wrap .caption {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.caption-wrap .caption img {
	width: 160px !important;
}

.caption-wrap .caption .slide-heading {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	max-width: 680px;
	text-align: center;
}

.flex-direction-nav {
	display: block;
}

.flex-direction-nav a {
	display: block;
}

.vc_btn3.vc_btn3-size-lg {
  font-size: 16px;
  padding: 10px 25px;
  font-weight: bold;
  font-family: Rubik;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 50%,rgba(0,0,0,0));
  border-radius: 14px;
	transition: background-image .2s ease-in-out;
}

.vc_btn3.vc_btn3-size-lg:hover {
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
}

body .entry-content #launch>.vc_col-sm-12,
body .entry-content #features {
	max-width: 990px;
  margin: 30px auto;
  font-family: Rubik;
  float: none;
  padding: 0 30px;
}

body .entry-content #launch>.vc_col-sm-12 {
	margin-top: 0
}

body .entry-content #features p {
	padding: 0 34px;
}

.footer-inner-top,
.footer-inner-bottom {
	border: none;
}

.footer-inner {
	max-width: 990px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.footer-inner-top .footer-inner.widget-area {
	padding: 50px 0 20px;
}

.footer-inner-top .footer-inner .footer-widget {
	padding-right: 0;
}

.footer-inner-top .footer-inner .footer-widget:nth-child(3),
.footer-inner-top .footer-inner .footer-widget:nth-child(4) {
	text-align: right;
}

@media screen and (max-width: 822px) {
	.caption-wrap .caption .slide-heading {
		font-size: 24px;
	}

	.footer-inner {
		text-align: center;
	}

	.footer-inner .footer-widgets .widget {
		border-bottom: none !important;
	}
}

#gtranslate_selector {
	background: rgba(255,255,255,.1);
  color: #999;
  line-height: 1;
  font-weight: 600;
  font-size: 16px;
  border: none;
  text-transform: unset;
  font-family: Rubik;
}

.bp-courses-nav {
	display: none;
}

body.role-administrator .bp-courses-nav,
body.role-instructor .bp-courses-nav,
body.role-student .bp-courses-nav {
	display: list-item;
}

.bbp-forum-details .table-cell {
	vertical-align: bottom;
}

.bbp-forum-details .button {
	font-weight: 800;
  font-size: 12px;
  padding: 7px 20px 6px;
  border-radius: 4px;
  display: inline-block;
  text-transform: uppercase;
	width: auto;
	margin: 0 4px 4px 0;
}

.bbp-forum-details .buddyboss-select {
	margin-bottom: 4px;
}

.bbp-forum-details .buddyboss-select-inner {
	height: 30px;
}

.bbp-forum-details .buddyboss-select-inner span {
	height: 26px;
	line-height: 28px;
}

.bbp-forum-details .buddyboss-select-inner select {
	height: 28px;
}

.bbp-forum-details .buddyboss-select-inner:after {
	top: 5px;
}

#bbpress-forums .topic .bbp-reply-content {
	font-size: 1.2em;
}

.is-forum .hide-if-forum {
	display: none;
}

.is-forum .footer-inner-top .footer-inner.widget-area {
	padding: 10px;
}

.is-forum .footer-widget aside {
	margin-bottom: 0;
}

.is-forum .footer-widget img {
	height: 60px !important;
	width: auto;
}


.is-forum .footer-inner-bottom {
  padding: 10px 36px 10px 70px;
}

@media screen and (min-width: 960px) {
	.is-forum .footer-inner .footer-widget:last-child {
		float: right;
	}
}

/* Forums custom theme */
#post-1657 .entry-header {
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

body:not(.boxed) #bbpress-forums .subheader {
	background-color: #fff;
	padding: 8px 70px;
}

#bbpress-forums li.bbp-body {
	margin: 0;
	padding: 0 70px;
}

#bbpress-forums li.bbp-body .forums-wrapper {
	width: 74%;
	float: left;
}

#bbpress-forums li.bbp-body ul.forum {
	margin: 0;
}


#bbpress-forums li.bbp-body .latest-replies-list {
	float: left;
	width: 26%;
}

#bbpress-forums li.bbp-body .forums-wrapper .bbp-forum-info {
	width: 62.16%;
}

#bbpress-forums li.bbp-body .forums-wrapper .bbp-forum-topic-count,
#bbpress-forums li.bbp-body .forums-wrapper .bbp-forum-reply-count {
	width: 18.92%;
}

#bbpress-forums li.bbp-body ul.forum div.bbp-forum-info-content {
	padding-right: 0;
}

#bbpress-forums .bbp-forum-title {
	display: block;
	padding: 8px 10px 8px 38px;
	color: #042C41;
	position: relative;
}
#bbpress-forums .bbp-forum-title::before {
	position: absolute;
	left: 0;
	display: inline-block;
  padding: 5px 10px;
  margin: -8px;
	background: #fff;
}

#bbpress-forums .bbp-forum-content {
	padding-left: 31px;
}

#bbpress-forums .bbp-forums-list {
	padding-left: 26px;
	border-left: none;
}

#bbp-forum-1771 .bbp-forum-title,
#bbp-forum-1771 .bbp-forum-topic-count,
#bbp-forum-1771 .bbp-forum-reply-count {
	background: rgba( 208, 68, 50, .23);
}
#bbp-forum-1771 .bbp-forum-title::before {
	content: url('../images/red-hexagon.svg');
}

#bbp-forum-1982 .bbp-forum-title,
#bbp-forum-1982 .bbp-forum-topic-count,
#bbp-forum-1982 .bbp-forum-reply-count {
	background: rgba( 229, 185, 33, .23);
}
#bbp-forum-1982 .bbp-forum-title::before {
	content: url('../images/yellow-hexagon.svg');
}

#bbp-forum-1781 .bbp-forum-title,
#bbp-forum-1781 .bbp-forum-topic-count,
#bbp-forum-1781 .bbp-forum-reply-count {
	background: rgba( 0, 118, 160, .23);
}
#bbp-forum-1781 .bbp-forum-title::before {
	content: url('../images/blue-hexagon.svg');
}

#bbp-forum-1814 .bbp-forum-title,
#bbp-forum-1814 .bbp-forum-topic-count,
#bbp-forum-1814 .bbp-forum-reply-count {
	background: rgba( 198, 218, 50, .23);
}
#bbp-forum-1814 .bbp-forum-title::before {
	content: url('../images/green-hexagon.svg');
}

#bbp-forum-2003 .bbp-forum-title,
#bbp-forum-2003 .bbp-forum-topic-count,
#bbp-forum-2003 .bbp-forum-reply-count {
	background: rgba( 0, 174, 136, .23);
}
#bbp-forum-2003 .bbp-forum-title::before {
	content: url('../images/green2-hexagon.svg');
}

#bbpress-forums li.bbp-header {
	text-transform: none;
	padding-bottom: 8px;
}

#bbpress-forums .bbp-body .bbp-forum-topic-count,
#bbpress-forums .bbp-body .bbp-forum-reply-count {
	padding: 6px 0 7px;
	color: #042C41;
}
